body {
    background-color: lightcoral;
}
h1 {
    color: brown;
    font-family: lobster;
    font-size: 40px;
    text-align: center; 
    width: 800px;
    border: 13px double white;
    padding: 30px;
    margin: auto;
}
h2 { 
    color: brown;
    font-family: lobster;
    text-align: center;
    width: 900px;
    border: 13px double white;
    margin: 10px auto;

}
button {
    padding: 30px;
    background-color: rgb(255, 230, 177);
    border-color: white;
    font-family: lobster;
    font-size: 20px;
    color: rgb(73, 3, 73);

}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#resetGame {
    background-color: rgb(73, 3, 73);
    color: rgb(255, 230, 177)

}

.selections {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    
}

.button:hover {
    transform: scale(1.2);
    background-color: rgb(255, 204, 189);
    border-color:rgb(255, 230, 230)
}

.results {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: lobster;
    font-size: 30px;
    color: brown;
    

}
.points {
    align-items: center;
    justify-items: center;
}


