body {
    background-color: lightcoral;
}
h1 {
    color: brown;
    font-family: lobster;
    font-size: 60px;
    text-align: center; 
    width: 800px;
    border: 13px double white;
    padding: 50px;
    margin: auto;
}
h2 { 
    color: brown;
    font-family: lobster;
    text-align: center;
    width: 900px;
    border: 13px double white;
    margin: 10px auto;

}
button {
    padding: 30px;
    background-color: rgb(255, 230, 177);
    border-color: white;
    font-family: lobster;
    font-size: 20px;
    color: brown;

}

.selections {
    display:flex;
    justify-content: center;
    
}

.button:hover {
    transform: scale(1.2);
}

.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: lobster;
    font-size: 30px;
    color: brown;
    

}

.score {
    color: rgb(104, 9, 104);
    font-size: 25px;
}
